@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --dark-one: #0e0101;
  --dark-two: #140202;
  --main-color: #050210;
  --light-one: #1b0202;
  --light-two: #020911;
  --light-three: #000000;
}


*,
*::before,

*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.flutter {
 font-size: 18px;
 font-family: 600;
 color: white;
 cursor: pointer;
}

.flutter:hover {
  font-size: 16px;
  font-weight: 500;

}

