
<!DOCTYPE html>
<html lang="en">
<head>
	<title> TECH JR LEARNING HUB </title>
	<link rel="stylesheet" href="https://static.hexnode.com/CACHE/css/99f562326287.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="icon" type="image/png" href="https://media-exp1.licdn.com/dms/image/C4E0BAQFIUUxQIDrWyw/company-logo_200_200/0/1648365249820?e=2147483647&v=beta&t=hvMhMi7Cq_6IQNYq05bSOrmgN7lfkPh0bG5rQOgbhpM" sizes="16x16" />
	<link rel="apple-touch-icon" type="image/png" href="https://media-exp1.licdn.com/dms/image/C4E0BAQFIUUxQIDrWyw/company-logo_200_200/0/1648365249820?e=2147483647&v=beta&t=hvMhMi7Cq_6IQNYq05bSOrmgN7lfkPh0bG5rQOgbhpM" />
	<link rel="stylesheet" href="https://use.typekit.net/kbj7sjc.css">
	<script type="text/javascript" src="https://static.hexnode.com/CACHE/js/8ba16617a46a.js"></script>
<script defer type="text/javascript"></script>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
</head>

<body ng-controller="MyCtrl" ng-app="myApp" id="top"
	ng-init="open_cookie_request_banner();storing_visited_pages(1);" ng-mouseleave="showcustomModal()"
	style="font-weight: 200;-webkit-text-stroke: 0.00px!important;" class="">

<div class="col-sm-12 col-md-12 col-xs-12 image1 padding0" ng-click="navcollapseclick()">
	<div class="stripe_margins"> 

<style>
	@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter:blur(14px))) {
  		.gartner__block--item--content {
    		background-color: rgb(255, 255, 255);
  		}
	}
</style>
<div class="hex__header_stripe and__forester hex__header_stripe_with_gartner_forester sks_btn_show_header" id="2ndstripe">
	<div class="hex__container_wrapper hex__d-flex">
		<div class="hex__mdm_home_content_wrapper">
			<div class="hex__mdm_home_content_left">
				<h1 class="hex__header_title">Tech Jr</h1>
				
				<h2 class="hex__header_sub_title">Tech Jr aims to build the best online knowledge repository for multi-lingual education.</h2>
				
				<a class="hex__header_btn hex__d-inline-block btn_ripple" href="/mobile-device-management/contact-sales/callback/" target="">Contact</a>
				
			</div>
			<div class="hex__mdm_home_content_right">
				<div class="gartner__blocks_wrap">
					<a class="gartner__block--item"   target="_blank">
						<div class="gartner__block--item--content gartner__block_forester_logo">
							<p class="flutter" style="color: #fff; font-size: 30px; font-weight: 600;">MOBILE APPLICATION DEVELOPMENT</p>
							<p class="hex__mdm_header_forrester_description">Learn mobile app development programming, lets move forward with the world.</p>
						</div>
					</a>
					<a  class="gartner__block--item"  target="_blank">
						<div class="gartner__block--item--content gartner__block_gartner_logo">
							<p class="flutter"style="color: #fff; font-size: 30px; font-weight: 600;">WEB DEVELOPMENT</p>
							<p class="hex__mdm_header_forrester_description">Learn web development to build another colorfull world we will mold your creativity.</p>
							<!-- <span class="gartner__block--item-read-btn">READ MORE</span> -->
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
     
<div class="hex__home_solutions ahex_home_solutions_grid_wrapper " id="2ndstripe" ng-controller="home_page_grid_solutions">
	<div class="hex__common_container_wrapper">
		<h2 class="hex__common_home_title">Our Courses</h2>
		<h2 class="hex__common_home_title">-------</h2>
		<div class="ahex_home_content_wrapper">
            <div class="ahex_home_grid_wrap">
                
                    <div class="ahex_home_grid_col ah_col_33 first_item first_item--border">
                        <div class="ahex_grid_col_cont">
                            <a href="/unified-endpoint-management/" target="">
                                <figure>    
                                    <img  width="194" height="120" style="margin-top: 3%;" src="https://opensenselabs.com/sites/default/files/inline-images/flutter%20logo.png" alt="Unified Endpoint Management">
                                </figure>
                                <div class="ahex_home_grid_title">
                                    <h3 class="hex__inner_content_title">Flutter Development</h3>
                                </div>
                           
                            <div class="hex__inner_content_wrapper">
                                
                               
                            </div>
                        </a>
                            <div class="ahex_inner_solutions_link">
                                <a  target="">
							<p class="hex__inner_content_link">Explore</p>
                                </a>
                                <div class="ahex_inn_icon_link">
                                    <span class="ah_inn_ic"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="ahex_home_grid_col ah_col_33 sec_item sec_item--border">
                        <div class="ahex_grid_col_cont">
                            <a href="/mobile-device-management/" target="">
                                <figure>    
                                    <img  width="204" height="120" style="margin-top: 13%;" src="https://developer.android.com/images/landing/android-logo.svg" alt="Mobile Device Management">
                                </figure>
                                <div class="ahex_home_grid_title">
                                    <h3 class="hex__inner_content_title">Android Development</h3>
                                </div>
                           
                            <div class="hex__inner_content_wrapper">
                                
                                    <p class="hex__inner_content_text"></p>
                               
                            </div>
                        </a>
                            <div class="ahex_inner_solutions_link">
                                <a 
						  <!-- href="/mobile-device-management/"  -->
							<p class="hex__inner_content_link">Explore</p>
                                </a>
                                <div class="ahex_inn_icon_link">
                                    <span class="ah_inn_ic"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="ahex_home_grid_col ah_col_33 sec_item sec_item--first-row-last">
                        <div class="ahex_grid_col_cont">
                            <a href="/mobile-device-management/mobile-kiosk-software/" target="">
                                <figure>    
                                    <img class="aspect-ratio-img" width="294" height="120" src="https://miro.medium.com/max/1366/1*fFfzsaWh49TjzNal8VXrlQ.png" alt="Kiosk Lockdown Management">
                                </figure>
                                <div class="ahex_home_grid_title">
                                    <h3 class="hex__inner_content_title">iOS Development</h3>
                                </div>
                           
                            <div class="hex__inner_content_wrapper">
                                
                                    <p class="hex__inner_content_text">Lockdown your endpoints to run as a kiosk system, with restricted access to applications and device functionalities.</p>
                               
                            </div>
                        </a>
                            <div class="ahex_inner_solutions_link">
                                <a  target="">
							<p class="hex__inner_content_link">Explore</p>
                                </a>
                                <div class="ahex_inn_icon_link">
                                    <span class="ah_inn_ic"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="ahex_home_grid_col ah_col_33 third_item">
                        <div class="ahex_grid_col_cont">
                            <a href="/mobile-device-management/rugged-device-management/" target="">
                                <figure>    
                                    <img width="294" height="120" style="margin-top: 3%;" src="https://logos-download.com/wp-content/uploads/2016/09/React_logo_wordmark.png" alt="Rugged Device Management">
                                </figure>
                                <div class="ahex_home_grid_title">
                                    <h3 class="hex__inner_content_title">React Js</h3>
                                </div>
                           
                            <div class="hex__inner_content_wrapper">
                                
                                    <p class="hex__inner_content_text">Hexnode mobilizes your workforce with capabilities that complement the ruggedized nature of your devices.</p>
                               
                            </div>
                        </a>
                            <div class="ahex_inner_solutions_link">
                                <a  target="">
                                    <p class="hex__inner_content_link">Explore</p>
                                </a>
                                <div class="ahex_inn_icon_link">
                                    <span class="ah_inn_ic"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="ahex_home_grid_col ah_col_33 fourth_item">
                        <div class="ahex_grid_col_cont">
                            <a href="/mobile-device-management/iot-management/" target="">
                                <figure>    
                                    <img class="aspect-ratio-img" width="294" height="120" src="https://logowik.com/content/uploads/images/nodejs.jpg" alt="IoT Management">
                                </figure>
                                <div class="ahex_home_grid_title">
                                    <h3 class="hex__inner_content_title">Node Js</h3>
                                </div>
                           
                            <div class="hex__inner_content_wrapper">
                                
                                    <p class="hex__inner_content_text">Hexnode UEM makes it easy to secure, monitor and manage IoT devices, improving device uptime at a reduced cost.</p>
                               
                            </div>
                        </a>
                            <div class="ahex_inner_solutions_link">
                                <a  target="">
                                    <p class="hex__inner_content_link">Explore</p>
                                </a>
                                <div class="ahex_inn_icon_link">
                                    <span class="ah_inn_ic"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="ahex_home_grid_col ah_col_33 fifth_item">
                        <div class="ahex_grid_col_cont">
                            <a href="/mobile-device-management/hexnode-digital-signage-software/" target="">
                                <figure>    
                                    <img class="aspect-ratio-img" width="294" height="120" src="https://www.edgica.com/wp-content/files/django-logo-big.jpg" alt="Digital Signage Software">
                                </figure>
                                <div class="ahex_home_grid_title">
                                    <h3 class="hex__inner_content_title">django</h3>
                                </div>
                           
                            <div class="hex__inner_content_wrapper">
                                
                                    <p class="hex__inner_content_text">Seamlessly transform your screens to digital signage displays that can be monitored and managed remotely.</p>
                               
                            </div>
                        </a>
                            <div class="ahex_inner_solutions_link">
                                <a href target="">
                                    <p class="hex__inner_content_link">Explore</p>
                                </a>
                                <div class="ahex_inn_icon_link">
                                    <span class="ah_inn_ic"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
	</div>
</div>
          
<div class="hex__home_logos ">
	</div>
</div>

<div style="clear: both;"></div>

		<div class="hex__footer_bottom_bar">
			<div class="hex__common_container_wrapper">
				<div class="hex__row hex__no-gutters">
					<div class="hex__footer_privacy_wrapper">
						<div class="hex__footer_bottom_privacy_wrapper">
							<ul class="hex__footer_bottom_bar_nav hex__d-flex">
								</ul>
						</div>
						<div class="hex__footer_bottom_copyright_wrapper">
							<p>Copyright © 2022  Tech Jr Group LLP. All Rights Reserved.</p>
						</div>
						<div class="hex__footer_bottom_lang_wrapper">
							<div class="hex__footer_bottom_lang_dropup"> <a id="lang-btn-toggle-footer" class="hex__footer_lang_switch hex__global_nav_link-flag_flex" ng-cloak><span class="hex_selected_icon hex_selected_icon_{$ selected_language | lowercase $}" ng-cloak></span>{$lang_names[selected_language]$}</a>
								<ul class="hex__lag_dropup hex__global_nav_top_bar_dropdown-for_language">
									<p class="language-title">Choose language</p>
									<div class="hex__footer_bottom_lang_dropup-scroll">
										<li ng-repeat="regions in languages">
											<h6 class="language-title_small">{$regions.region$}</h6>
											<div class="language-box-wrapper">
												<a ng-class="{'selected':lang == selected_language} " ng-click="language_selection(lang,'dropdown')" ng-repeat="lang in regions.countries" class="" ng-cloak>
													<div class="language-box">
														<div class="language-name"> <img width="18" height="18" ng-src="https://static.hexnode.com/img/country-flag/{$lang | lowercase $}.png" alt="flag" class="country-flag" /> <span class="language-text">{$lang_names[lang]$} </span> </div>
														<div class="language_active" ng-if="lang == selected_language"> <img width="18" height="18" src="https://static.hexnode.com/img/country-flag/tick.svg" alt="flag" class="country-flag" /> </div>
													</div>
												</a>
											</div>
										</li>
									</div>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


 
<script type="text/javascript" src="https://static.hexnode.com/CACHE/js/cfc6f20ef5c3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ouibounce/0.0.11/ouibounce.min.js"></script>
<script src="https://static.hexnode.com/js/aos.js"></script>
<script>
AOS.init();
</script>
	
	  <script type="text/javascript" src="https://static.hexnode.com/CACHE/js/e53d3e7a0a51.js"></script> 

</body>

</html>